body {
  /*margin: 10px 1200px;*/
  width: 1200px;
  margin: 10px auto;
  border: #000 solid;
}

/*--------------------------------------*/
/*----------------HEADER----------------*/
/*--------------------------------------*/
header {
    width: 100%;
    text-align: center;
}


/*--------------------------------------*/
/*----------------FOOTER----------------*/
/*--------------------------------------*/
footer {
    width: 100%;
    text-align: center;
}

/*--------------------------------------*/
/*--------------NAVIGATION--------------*/
/*--------------------------------------*/
main {

}


/*--------------------------------------*/
/*-----------------MAIN-----------------*/
/*--------------------------------------*/
main {

}